<div class="container">
    <div class="login-container">
        <img src="https://c4.wallpaperflare.com/wallpaper/555/407/716/movie-hd-backgrounds-wallpaper-preview.jpg" alt="" class="image" />
        <div class="card">
            <form [formGroup]="regForm" #r="ngForm" (ngSubmit)="onSubmit(r.value)" class="form">
                <h2 class="heading text-center" style="margin-bottom: 15px;">Theater Login</h2>
                <div class="form-group mb-2">
                    <label for="email"><b>Email</b></label>
                    <input placeholder="Enter email" type="text" class="form-control" id="email" formControlName="email" required>
                    <div *ngIf="regForm.controls['email'].touched && regForm.controls['email']?.['errors']">
                        <div *ngIf="regForm.controls['email']?.['errors']?.['required']" class="error-message text-danger">
                            Theater email is required
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="password"><b>Password</b></label>
                    <input placeholder="Enter password" type="text" class="form-control" id="password" formControlName="password" required>
                    <div *ngIf="regForm.controls['password'].touched && regForm.controls['password']?.['errors']">
                        <div *ngIf="regForm.controls['password']?.['errors']?.['required']"
                            class="error-message text-danger">
                            Password is required
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-4 w-100" [disabled]="regForm.invalid">Sign In</button>
                <div class="mt-2"><a routerLink="/theater-register" class="mt-2">Don't have an account? click here</a></div>
            </form>
        </div>
    </div>
</div>