.container{
    margin-bottom:10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-container{
    /* padding-top: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    width: 100%;
}
@media screen and (max-width:768px) {
    .login-container{
        width: 100%;
    }
}


.card{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 100px;
    padding-bottom: 20px;
    width: 40%;
    border-radius:10vh;
    margin-top: 60px;
}
@media screen and (max-width:768px) {
    .card{
        width: 100%;
    }
}

.heading{
    font-family: "Bree Serif";
    font-size: 26px;
}

.image{
    border-radius:20vh;
    padding-right: 30px;
    height: 60vh;
    margin-top: 45px;
    width: 44%;
}
@media screen and (max-width:768px) {
    .image{
        display: none;
    }
}